body {
   background-color:#ffdde2;
   margin:20px 20px 20px 20px;
}

nav a {
  padding: 0.25em 1em;
  text-decoration: none; /* no underline */
  background-color:white; /* pale bluish white */
  color: #00000; /* black */
  border: 2px solid black;
  border-top-left-radius: 1em 1em; /* rounded corner! */
  border-top-right-radius: 1em 1em; /* another rounded corner! */
  border-bottom-left-radius: 1em 1em; 
  border-bottom-right-radius: 1em 1em;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: black;
}

h1{
  inline: left;
  margin-right: 1.5em;
}

h1 {
   font-family:"Times New Roman",Times, serif;
   text-align:center;
}

img {float:right;
  margin-left: 10px;
}

img {width: 500px;
}

img {padding-left: 10px; 
     padding-bottom: 10px;
     padding-right: 10px; 
     padding-top: 10px;
}


h2 {
   font-family:Verdana, Helvetica, sans-serif;
   text-align:left;
}

h2{
  float: left;
  margin-right: 1.5em;
}


p {  padding-bottom: 20px;
     padding-right: 20px; 
     padding left: 20px;
     padding-top: 20px;
}

p {
  width: 400px;
  border: 15px #ffe9ec;
  padding: 1px;
  margin: 20px;
  border: 2px solid white;
  border-top-left-radius: 1em 1em; /* rounded corner! */
  border-top-right-radius: 1em 1em; /* another rounded corner! */
  border-bottom-left-radius: 1em 1em; 
  border-bottom-right-radius: 1em 1em;
}

p {
   font-family:Verdana, Helvetica, sans-serif;
   text-align: left;
}

p {
  float: left;
  margin-right: 3em;
}

p {background-color:#ffe9ec;}


ul {
   font family:Verdana, Helvetica, sans-seriff;
   text-algin: left;
}

ul {
  width: 400px;
  float: left;
  margin-right: 1.5em;
}

ul {
  list-style-type: none;
}


li {
   font family:Verdana, Helvetica, sans-seriff;
   text-align: center;
} 

li {background-color:white;
}

li {
  width: 350px;
  border: 10px #ffe9ec;
  padding: 10px;
  margin: 5px;
  border: 2px solid white;
  border-top-left-radius: 1em 1em; /* rounded corner! */
  border-top-right-radius: 1em 1em; /* another rounded corner! */
  border-bottom-left-radius: 1em 1em; 
  border-bottom-right-radius: 1em 1em;
}

li {padding-left: 1px; 
     padding-bottom: 15px;
     padding-right: 1px; 
     padding-top: 15px;
}

iframe {padding-left: 20px; 
     padding-bottom: 20px;
     padding-right: 20px; 
     padding-top: 20px;

}
